<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - encratings</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body style="display:flexbox; flex-direction: column;">
    <h1>Movies</h1>
    <ul class="movie-list" style="list-style: none; padding: 0;">
        
    </ul>
    <a href="/home/add"><button>Add Movie Rating</button></a>
    
</body>
<script src="/scripts/loadMovies.js"></script>
</html>